body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    overflow-x: hidden;
    height: 100%;
    position: absolute;
}

.container {
    width: 85%;
    margin: 0 auto;
    height: 100%;
}

#logo{
    float: left;
    padding: 10px 0;
    margin-left: 80px;
}

header {
    margin-bottom: -30px;
    font-weight: 700;
}

header::after{
    content: "";
    display: table;
    clear: both;
}

.primary-nav {
    width: 100%;
    height: 200px;
}

.primary-menu {
    margin-left: 400px;
    height: 200px;
    width: 100%;
}

ul {
    text-align: left;
    display: block;
    margin: 0;
    list-style: none;
    padding-top: 80px;
    text-transform: uppercase;
  }

  ul li {
    font: bold 20px/30px sans-serif;
    display: inline-block;
    margin-right: -4px;
    position: relative;
    padding: 15px 20px;
    background: #fff;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
  }
  ul li:hover {
    background: #555;
    color: #fff;
  }
  ul li ul {
    padding: 0;
    position: absolute;
    top: 60px;
    left: 0;
    width: 190px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    display: none;
    opacity: 0;
    visibility: hidden;
    -webkit-transiton: opacity 0.2s;
    -transition: opacity 0.2s;
    z-index: 1;
  }
  ul li ul li { 
    background: #555; 
    display: block; 
    color: #fff;
    text-shadow: 0 -1px 0 #000; 
    font-size: 15px;
  }
  ul li ul li:hover { 
      background: #666; 
    }

  ul li:hover ul {
    display: block;
    opacity: 1;
    visibility: visible;
  }

main {
    position: relative;
    font-family: 'Quicksand', sans-serif;

}

h1 {
    font-weight: 500;
}

h2 {
    font-weight: 500;
    color: #ECAF64;
}

#mission{
    text-align: center;
}

.misson-text {
    font-family: 'Philosopher', sans-serif;
    font-size: 50px;
}

#contact {
    text-align: center;
}

a {
    text-decoration: none;
    color: #ECAF64;
    font-weight: 500;
}

footer {
    width: 100%;
    height: 50px;
    border-top: 1px solid #E0E0E0;
    position: relative;
    bottom: 0; 
    left: 0px; 
    text-align: center; 
    background-color: white;
    color: #555;
    clear: both;
    }

.times{
    text-align: center;
    font-size: 20px;
}

#times{
    text-align: left;
    margin-right: auto;
    margin-left: auto;
}
